@import"https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
body{
    margin:0;
    padding: 0;
    background: url(../assets/no-to-corruption.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

}
.signup{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8) !important;
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    /* z-index: ; */
 }

.signup-box{
    width: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
    
}
.signup-box h1{
    float: center;
    font-size: 40px;
    border-bottom: 5px solid black;
    margin-bottom: 20px;
    padding: 5px;
    margin-top: 5px;
}
.form{
    width: 90%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0px;
    border-bottom: 1px solid black;
    color: white;
    margin-left: 19px;
}
.form i{
    width: 20px;
    text-align: center;
    color: black;
    float: left;
    margin-top: 12px;
}
#for{
    display: inline-flex;
    margin-left:5px;
    text-align: center;
    width: 98%;

}
.form input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    background: none;
    width: 92%;
    padding: 10px;
    font-size: 18px;
    margin: 3px 5px;
    font-weight: 600;
    color: rgb(22, 21, 21);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.info{
    background: lightgrey;
    border-radius: 10px;
    padding: 50px;
    width: 100%;
    margin: 10px auto;
    margin: -80px;
}
.info button{
    width: 100%;
    background: none;
    border: 2px solid black;
    color: black;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
}
.info button:hover{
    background: black;
    color: white;
}
p{
    text-align: center;
    color: black;
    width: 100%;
}
p a{
    color: black;
    font-weight: 900;
    text-decoration: none;
}
p a:hover{
    font-size: 1.1em;
}

/* Tabelt */

@media(max-width:768px){

    .info{
        width: 100%;
        margin: -50px;
        
        font-size: 15px;
    }
    form input{
        padding: 10px;
        margin: 6px;
    }
    form{
        padding: 10px;
        margin: 6px;
    }
    .info button{
        width: 95%;
        margin: 15px 5px; 
    }
    
}
 
/* Mobile responsiveness */

@media(max-width:425px){
    .info{
        width: 80%;
        margin: -15px;
        font-size: 15px;
    }
    .form input{
        padding: 9px;
        margin: 4px;
    }
    .form {
        padding: 9px;
        margin: 4px;
    }
    .info button{
        width: 95%;
        margin: 10px 3px;
    }
}
